---
interface Props {
  title?: string;
  subtitle?: string;
}

const { title = '', subtitle = '' } = Astro.props;
---

<div class="hero-text">
  {title && <h1>{title}</h1>}
  {subtitle && <p>{subtitle}</p>}
</div>
