---
import Layout from '~/layouts/PageLayout.astro';
import Image from 'astro/components/Image.astro';

const selectedBrands = [
  {
    title: 'Al Mauna Palestinian Virgin Olive Oil 5L x 1',
    image: '/src/assets/images/palestine-0il.png',
  },
  {
    title: 'Al Mauna Palestinian Virgin Olive Oil 2L x 1',
    image: '/src/assets/images/virgin-0il.png',
  },
  {
    title: 'Maharani Rice Suitable for Diabetics Basmati Rice 5kg x 1',
    image: '/src/assets/images/maharani/maharani5kg.jpg',
  },
  {
    title: 'Maharani Rice Suitable for Diabetics Basmati Rice 5kg x 4',
    image: '/src/assets/images/maharani/maharani5kgx4.jpg',
  },
];
---

<Layout metadata={{ title: 'Product-detail' }}>
  <main>
    <section class="py-[96px] bg-gradient-secondary">
      <div class="max-w-5xl mx-auto flex justify-center items-start gap-[64px]">
        <div>
          <h1 class="text-[32px] font-bold text-gradient">Palestinian Virgin Olive Oil</h1>
          <p class="text-[20px] text-black text-opacity-[50%] pt-2 font-bold">AL MAUNA</p>
          <p class="text-[20px] pt-[24px]">
            At Al Mauna, we take pride in bringing you the finest Virgin Olive Oil from Palestine, a land where olive
            cultivation has been a tradition for centuries.<br /><br />

            Our oil is sourced from ancient groves tended by Palestinian farming families, ensuring every drop carries
            the story of heritage, resilience, and authenticity.
          </p>
          <div class="flex gap-[96px] justify-start pt-[96px]">
            <div>
              <p class="text-[20px] text-black text-opacity-[50%] pt-2 font-bold">PACKAGING</p>
              <p class="text-[20px] pt-[24px]">4L</p>
            </div>
            <div>
              <p class="text-[20px] text-black text-opacity-[50%] pt-2 font-bold">AMOUNT</p>
              <p class="text-[20px] pt-[24px]">1</p>
            </div>
          </div>
        </div>
        <Image
          src="/src/assets/images/olive-oil.png"
          alt="olive-oil"
          width="600"
          height="400"
          class="object-cover w-auto h-full"
        />
      </div>
    </section>
    <section class="py-[96px]">
      <div class="max-w-5xl mx-auto">
        <h1 class="text-[32px] font-bold text-gradient">Product features</h1>
        <ul class="text-[20px] pt-[48px]">
          <li>• Origin: 100% Palestinian olives, hand-harvested and cold-pressed.</li>
          <li>• Quality: Virgin grade oil with balanced acidity and rich nutritional value.</li>
          <li>
            • Flavor Profile: Fruity and smooth with a subtle peppery finish — perfect for dressings, dips, and everyday
            cooking.
          </li>
          <li>
            • Packaging: Available in premium dark glass bottles (250ml, 500ml, 1L) and metal tins (3L, 4L, 5L) to
            preserve freshness and quality.
          </li>
          <li>
            • Certifications: Produced under strict quality and food-safety standards, suitable for GCC and global
            markets.
          </li>
        </ul>
      </div>
    </section>

    <section
      class="py-[96px]"
      style={{
        backgroundImage: 'url(/src/assets/images/violet-bg.svg)',
        backgroundRepeat: 'no-repeat',
        backgroundSize: 'cover',
        backgroundPosition: 'center',
      }}
    >
      <div class="max-w-5xl mx-auto px-6 flex justify-between items-center gap-[48px]">
        <div>
          <h1 class="text-[32px] font-bold text-gradient-secondary">Why choose Al Mauna olive oil?</h1>
          <ul class="text-[20px] pt-[48px] text-white">
            <li>• Authenticity: Directly sourced from Palestinian farmers.</li>
            <li>• Heritage: Supports centuries-old olive-growing traditions.</li>
            <li>• Health Benefits: Naturally rich in antioxidants and heart-healthy fats.</li>
            <li>• Sustainability: Ethical sourcing that empowers local farming communities.</li>
          </ul>
          <button class="bg-white text-[#712F76] text-[16px] font-bold px-[32px] py-[14.5px] mt-[48px] rounded-[32px]"
            >Shop Online</button
          >
        </div>
        <Image
          src="/src/assets/images/high-quality.svg"
          height={233}
          width={233}
          class="w-[233px] h-[233px] object-center object-cover"
          alt="product-detail"
        />
      </div>
    </section>

    <section class="py-[48px] md:pt-[96px] pb-[170px]">
      <div class="max-w-7xl mx-auto">
        <h2 class="text-[24px] md:text-[32px] text-gradient font-bold text-center">Other products for you</h2>
        <p class="text-[16px] md:text-[20px] text-center mt-[16px] md:mt-[8px]">
          From daily staples to gourmet delights, our selection is truly diverse.
        </p>

        <div class="grid grid-cols-4 gap-[16px] md:gap-[24px] mt-[64px] flex-wrap">
          {
            selectedBrands.map((product) => (
              <div class="bg-white rounded-[8px] p-[16px] md:p-[24px] shadow-secondary">
                <div class="flex justify-center items-center">
                  <Image
                    src={product.image}
                    alt={product.title}
                    height="240"
                    width="180"
                    class="h-[180px] md:h-[240px] w-auto object-cover object-center"
                  />
                </div>
                <p class="text-[14px] md:text-[16px] mt-[16px] md:mt-[24px] text-wrap">{product.title}</p>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
